@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blob {
  0% { transform: translate(0, 0) scale(1); }
  33% { transform: translate(30px, -50px) scale(1.1); }
  66% { transform: translate(-20px, 20px) scale(0.9); }
  100% { transform: translate(0, 0) scale(1); }
}

.animate-blob {
  animation: blob 7s infinite;
}

.font-inter {
    font-family: 'Inter', sans-serif;
}

.text-primary {
    color: #2563eb;
}

.bg-primary {
    background-color: #2563eb;
}

.hover\\:bg-primary-dark:hover {
    background-color: #1d4ed8;
}

@media (max-width: 1023px) {
    #filter-sidebar {
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        z-index: 40;
    }

    #filter-sidebar.open {
        transform: translateX(0);
    }

    #sidebar-overlay {
        display: none;
    }

    #filter-sidebar.open+#sidebar-overlay {
        display: block;
    }
}